* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer  {
    height: 65px;
    background-color: #282828;
    margin-bottom: 0px;

}

aside   {
    height: calc(100vh - 65px);
    width: 12%;
    background-color: #171500;
    float: left;

}

main    {
    height: calc(100vh - 65px);
    background: rgb(2,0,36);
    background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(154,138,21,1) 72%);
}
