* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    font-family: 'Cabin', sans-serif;
}

/* LAYOUT */

footer  {
    height: 65px;
    background-color: #282828;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;

}

aside   {
    height: calc(100vh - 65px);
    width: 160px;
    background-color: #171500;
    float: left;
    position: relative;
    overflow-y: auto;
}

main    {
    width: calc(100% - 160px);
    height: calc(100vh - 65px);
    background: rgb(2,0,36);
    background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(154,138,21,1) 72%);
    float:left;
    overflow-y: auto;
}

/* SEZIONE ASIDE */

.padding    {
    padding: 20px 15px 15px 15px;
}

#logo-sm-md-xl {
    width: 90px;
    object-fit: contain;

}

#logo-mobile {
    font-size: 25px;
    text-align: center;
    color: white;
    padding-left: 3px;
    margin-bottom: 25px;
    display: none;
}

.pointer    {
    cursor: pointer;
}
.pointer-none   {
    cursor: default;
}

.list-personal  {
    list-style: none;
    text-transform: capitalize;
    color: #8f8c79;
    margin-top: 10px;
    padding-left: 4px;
}
.list-personal-1  {
    list-style: none;
    text-transform: capitalize;
    color: #8f8c79;
    margin:3px 0;
}

.medium-size    {
    font-size: 13px;
}

.small-size     {
    font-size: 10px;
    letter-spacing: 0.6px;
}

.icon-wrapper   {
    display: inline;
    margin-right: 10px;
}

h4  {
    font-size: 10px;
    letter-spacing: 0.7px;
    margin-top: 25px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #8f8c79;
}

.install-app   {
    padding-bottom: 7px;
    border-bottom: 1px solid #8f8c79;
    margin-bottom: 7px;
}

#profile    {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
    margin-bottom: 10px;
}


/* SEZIONE MAIN */

.list-personal-main {
    list-style: none;
    text-transform: uppercase;
    color: #dce2bc;
    margin-top: 10px;
    font-size: 10px;
    letter-spacing: 0.7px;
    text-align: center;
}

.list-personal-main li {
    display: inline-block;
    padding: 30px 15px;
}

.container-main     {
    width: 80%;
    margin:auto;
}

h1      {
    color: #f7f7f7;
    font-size: 25px;
    margin: 20px 0;
}

#hamburger  {
    position: absolute;
    top:4px;
    right: 5px;
    color: white;
    font-size: 20px;
    display: none;
}

.container-album    {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.album  {
    width: 100px;
    margin-right: 25px;
    margin-top: 20px;
}

.album  img {
    border-radius: 50%;
    width: 100%;
}

.album p    {
    color: #f7f7f7;
    text-align: center;
}

/* SEZIONE FOOTER */

footer  {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#footer-left    {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer-left img    {
    height: 100%;
}

.icon-heart     {
    display: flex;
    align-items: center;
}

.margin-right   {
    margin-right: 12px;
}

h5  {
    color: #f7f7f7;
    font-size: 12px;
    margin-bottom: 2px;
}

.grigio-footer {
    color: #a8a6a3;
}

#footer-right    {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer-right-range {
    height: 2px;
    background-color: grey;
}

/* SLIDER FOOTER RIGHT */
    .slider {
      -webkit-appearance: none;
      height: 5px;
    }

    .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: white;
          cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      cursor: pointer;
    }

#footer-center    {
    width: 500px;
    height: 100%;
    text-align: center;
}

.slider-center-width    {
    width: 75%;
    height: 2px;
    background-color: grey;
}


/* SEZIONE MEDIA QUERY */

@media screen and (max-width: 768px) {

        #main-menu  {
            display: none;
        }

        .container-main     {
            width: 90%;
            margin:auto;
            position: relative;
        }

        #footer-right-range  {
            width: 60%;
        }

        h1  {
            font-size: 20px;
            margin-bottom: 10px;
        }

        #hamburger  {
            display: block;
        }

        .slider-center-width    {
            width: 60%;
        }



}

@media screen and (max-width: 480px)    {


    /* QUERY FOOTER */
        #footer-right   {
            display: none;
        }

        .slider-center-width    {
            width: 65%;
        }

        .text-wrapper   {
            display: none;
        }

    /* QUERY ASIDE */
        #laterale-1  span,
        aside  h4,
        .laterale-2,
        #profile span   {

            display: none;
        }

        aside   {
            width: 60px;
        }

        #laterale-1 i   {
            font-size: 15px;

        }

        .icon-wrapper   {
            margin: 0;
        }

        #laterale-1     {
            text-align: center;
        }

        #laterale-1 li:first-child   {
            padding-left: 8px;
        }

        #profile    {
            text-align: center;
            font-size: 13px;
        }

        #logo-sm-md-xl  {
            display: none;
        }

        #logo-mobile    {
            display: block;
        }

    /* QUERY MAIN */

        main    {
            width: calc(100% - 60px);
        }

        .container-main     {
            width: 80%;
            margin:auto;
        }
        .container-album {
            justify-content: space-between;
        }

        .album  {
            width: 90px;
            margin-right: 7px;
            margin-left: 7px;
        }


}
